/* Ajoutez ces styles à votre fichier CSS ou ajustez-les selon vos besoins */

.nav-link-white {
    color: white !important; /* Force la couleur du texte à blanc */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 30px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur */
    margin-left: 20px; /* Ajustez la marge selon vos besoins */
  }
  
  /* Ajoutez ces styles pour centrer le contenu du NavBar */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  